@import url('../fonts/Gilroy/stylesheet.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H7g4.ttf) format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 30px 0 15px;
  color: #000;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.4rem;
}
blockquote {
  font-size: 18px;
  padding-left: 38px;
  border-left: 3px solid #3761E9;
  margin-left: 0;
}
b {
  font-weight: 600;
}
ul,
ol {
  line-height: 28px;
  padding-left: 20px;
}
ul {
  list-style-image: url("/images/list-image.svg");
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #3761E9;
}
.fontMonserat {
  font-family: 'Montserrat', Arial, sans-serif;
}
.fontGilroy {
  font-family: 'Gilroy', Arial, sans-serif;
}
.color-white {
  color: #fff;
}
a.color-white:hover {
  color: #92929E;
}
hr {
  border: 1px solid white;
  opacity: 0.1;
}
.modal {
  color: #333;
}
.bg-purple {
  background-color: #1C1569;
  color: #fff;
}
.bg-purple a,
.bg-purple h1 {
  color: #fff;
}
.bg-purple .bg-white a,
.bg-purple .bg-white h1 {
  color: #333;
}
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  min-width: 320px;
}
.defaultTransition {
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
a {
  color: #333;
  font-weight: normal;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
a:hover {
  color: gray;
  text-decoration: none;
}
@media (max-width: 767px) {
  .menu-list-title a {
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 18px 0;
  }
}
@media (max-width: 767px) {
  .menu-wrapper .col:last-child .menu-list-title a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
header {
  padding: 24px 0 18px;
  position: sticky;
  top: 0;
  z-index: 3;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
header.bg-white {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #cacaca;
}
@media (max-width: 767px) {
  header {
    padding: 6px 0;
  }
}
.footer {
  background: #26263E;
  padding: 50px 0 30px;
  color: #92929E;
  font-size: 13px;
  line-height: 16px;
}
.footer a {
  color: #92929E;
}
.footer a:hover {
  color: #fff;
}
.footer .social-links {
  justify-content: center;
}
.footer .social-links a {
  background-color: #515165;
  border: none;
}
.footer .social-links a svg path {
  fill: #A8A8B2;
}
.footer-menu {
  display: flex;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
  display: none;
}
@media (min-width: 992px) {
  .footer-menu ul {
    display: block !important;
  }
}
.footer-menu .title-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
}
.footer-menu .title-link:hover {
  color: #CBCBCE;
}
.footer-menu .title-link.dropdown-toggle:after {
  display: inline-block;
  margin: 6px 15px;
  vertical-align: 0.255em;
  content: "";
  float: right;
  border-top: 0.2em solid;
  border-right: 0.2em solid transparent;
  border-bottom: 0;
  border-left: 0.2em solid transparent;
}
@media (min-width: 992px) {
  .footer-menu .title-link.dropdown-toggle:after {
    display: none;
  }
}
@media (max-width: 991px) {
  .footer-menu .title-link {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 18px 0;
    margin: 0;
  }
}
.navbar a.logo {
  min-height: 43px;
  padding: 0;
  color: #333;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  font-family: 'Gilroy', Arial, sans-serif;
}
.bg-purple .navbar a.logo {
  color: #fff;
}
.bg-white .navbar a.logo {
  color: #333;
}
@media (max-width: 767px) {
  .navbar a.logo {
    padding: 4px 0;
  }
}
.navbar a.logo span {
  display: inline-block;
  margin: 0;
  padding: 4px 0 0 5px;
}
.navbar a.logo img {
  display: inline-block;
  vertical-align: baseline;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
.bg-purple .navbar-toggler-icon:after,
.bg-purple .navbar-toggler-icon:before {
  background-color: #fff;
}
.bg-purple .bg-white .navbar-toggler-icon:after,
.bg-purple .bg-white .navbar-toggler-icon:before {
  background-color: #000;
}
@media (max-width: 767px) {
  .navbar {
    padding: 0;
    position: relative;
  }
}
@media (min-width: 992px) {
  .navbar .nav > .nav-item a {
    font-size: 14px;
  }
}
.navbar .dropdown-menu {
  margin-left: -1px;
}
.navbar .dropdown-menu a {
  padding: 13px 20px;
  border-bottom: 1px solid #EDF0F7;
  min-width: 250px;
  color: #333;
}
@media (min-width: 1200px) {
  .navbar ul:first-child > li + li {
    margin-left: 25px;
  }
}
.navbar .nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar .nav-link.dropdown-toggle:after {
  border-width: 0.2em;
  border-bottom-width: 0;
  border-left-width: 0.1em;
}
.navbar a {
  font-weight: lighter;
  font-size: 15px;
}
@media (max-width: 767px) {
  .navbar ul.dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.navbar-toggler {
  position: absolute;
  height: 30px;
  top: 5px;
  left: 0;
  outline: none;
}
.navbar-toggler-icon {
  position: relative;
  height: 7px;
}
.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: '';
  display: block;
  height: 2px;
  background: #000;
  border-radius: 20px;
}
.navbar-toggler-icon:before {
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-toggler-icon:after {
  width: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.unified-platform {
  margin-bottom: 74px;
  font-size: 18px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .unified-platform {
    margin-bottom: 74px;
    padding-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .unified-platform {
    padding-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .unified-platform {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .unified-platform .content {
    padding-top: 92px;
  }
}
@media (min-width: 1200px) {
  .unified-platform .content {
    padding-top: 92px;
  }
}
.unified-platform .title {
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 26px;
}
@media (min-width: 1200px) {
  .unified-platform .title {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (min-width: 992px) {
  .unified-platform .title {
    font-size: 34px;
    line-height: 47px;
  }
}
@media (max-width: 570px) {
  .unified-platform .title {
    font-size: 32px;
    line-height: 39px;
  }
}
@media (max-width: 400px) {
  .unified-platform .title {
    font-size: 24px;
    line-height: 30px;
  }
}
.unified-platform .description {
  font-size: 16px;
  margin-bottom: 31px;
}
.unified-platform .image {
  position: relative;
}
.unified-platform .image figure {
  width: 695px;
  position: absolute;
  top: 0;
  left: 0;
}
form {
  font-family: 'Montserrat', Arial, sans-serif;
}
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="email"]:-moz-placeholder,
input[type="text"]:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="email"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input[type="email"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input[type="email"]:focus::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input[type="email"]:focus:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input[type="email"]:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.btn-rounded {
  border-radius: 30px;
}
.form-get-release {
  max-width: 474px;
}
.form-get-release input {
  height: 54px;
}
@media (max-width: 991px) {
  .form-get-release input {
    width: 100%;
    border-radius: 0.25rem;
  }
}
@media (max-width: 991px) {
  .form-get-release .input-group-append {
    width: 100%;
    border-radius: 0.25rem;
    margin: 15px 0 0;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .form-get-release .input-group > .input-group-append > .btn {
    border-radius: 50px;
    display: block;
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
  }
}
.form-get-release .btn {
  background-color: #3761E9;
  border-color: #3761E9;
  font-size: 19px;
}
.form-get-release .btn:hover {
  background-color: blue;
  border-color: blue;
}
.feature-list {
  margin-bottom: 90px;
}
.feature-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #E1E5F0;
  height: 122px;
  max-width: 520px;
  margin: 0 auto 0;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
.feature-item .item-content {
  padding: 30px 0 7px 30px;
}
.feature-item .title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.feature-item .icon {
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.feature-item .description {
  font-size: 13px;
  color: #555;
}
.feature-item:hover {
  border-color: transparent;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  background: #007bff;
}
.feature-item:hover,
.feature-item:hover .description,
.feature-item:hover .title {
  color: #fff;
}
@media (min-width: 768px) {
  .feature-item {
    border-radius: 6px;
    margin-bottom: 30px;
    border: none;
  }
}
.header-button-right {
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1rem;
  overflow: hidden;
}
.header-button-right.btn-light {
  color: #3761E9;
}
.header-button-right > .btn-primary {
  color: #333;
}
@media (min-width: 992px) {
  .header-button-right {
    font-size: 0.7rem;
  }
}
@media (min-width: 1200px) {
  .header-button-right {
    font-size: 1rem;
  }
}
.header-button-right.modal-opened {
  width: 46px;
  position: relative;
  z-index: 1051;
  color: transparent;
  text-indent: -99999px;
  transition: width ease-in-out 0.3s, text-indent linear 0.1s 0.3s;
}
.header-button-right.modal-opened > span {
  visibility: visible;
  display: block;
}
.header-button-right > span {
  font-size: 34px;
  line-height: 17px;
  position: absolute;
  display: none;
  visibility: hidden;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #3a3a3a !important;
  padding: 10px;
  text-indent: 0;
}
.dropdown-menu {
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.dropdown-menu .dropdown:hover > .dropdown-menu {
  display: block;
}
.social-links {
  display: flex;
}
.social-links a {
  display: flex;
  margin-right: 8px;
  width: 39px;
  height: 39px;
  background-color: #fff;
  border: 1px solid #E6E9F2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
.social-links a svg path {
  fill: #97A5B5;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
.social-links a:hover {
  background-color: #2CA5E0;
}
.social-links a:hover svg path {
  fill: #fff;
}
.menu-wrapper {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .menu-wrapper {
    margin-bottom: 55px;
  }
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  background: #fff;
  width: 90%;
  z-index: 5;
  height: 100vh;
  overflow-x: hidden;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}
.mobile-nav .site-logo-title {
  color: #333;
}
.mobile-nav ul a {
  font-size: 17px;
  letter-spacing: -0.5px;
  padding: 0.6rem 1rem;
  white-space: normal;
}
.mobile-nav.show {
  left: 0;
}
.mobile-nav button.close {
  padding: 5px 14px;
  position: absolute;
  top: 12px;
  right: 12px;
  outline: none;
  font-weight: 400;
  font-size: 36px;
}
.mobile-nav button.close:focus {
  outline: none;
}
.mobile-nav a {
  color: #333;
}
.mobile-nav .dropdown-toggle::after {
  display: inline-block;
  vertical-align: baseline;
  border-top: 0.2em solid transparent;
  border-right: 0;
  border-bottom: 0.2em solid transparent;
  border-left: 0.2em solid;
  float: right;
  margin-top: 8px;
}
.mobile-nav .logo {
  color: #333;
  font-weight: 700;
  margin: 11px 0 22px;
  display: inline-block;
}
.mobile-nav .logo-wrapper {
  text-align: left;
}
.mobile-nav + .app-header .navbar-collapse {
  display: none;
}
.mobile-nav-popover {
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.mobile-nav-popover.show {
  display: block;
}
.menu-back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  color: #97A3B0;
  font-size: 40px;
  padding: 0;
  width: 45px;
  height: 45px;
  outline: none;
}
.mobile-nav-menu {
  position: relative;
}
.mobile-nav-menu .dropdown {
  position: static;
}
.mobile-nav-menu ul.dropdown-menu {
  border: none;
  left: 100%;
  background: none;
}
.mobile-nav-menu ul.dropdown-menu,
.mobile-nav-menu .navbar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all cubic-bezier(0.74, -0.01, 0.88, 0.5) 200ms;
  box-shadow: none;
}
.mobile-nav-menu ul.dropdown-menu:not(.navbar-nav),
.mobile-nav-menu .navbar-nav:not(.navbar-nav) {
  display: none;
}
.mobile-nav-menu ul.navbar-nav {
  left: 0;
  padding: 0 15px;
}
blockquote {
  font-size: 18px;
  border-left: 3px solid #3761E9;
  padding-left: 38px;
  margin: 30px 0;
}
.over-title {
  color: #97A3B0;
  font-size: 11px;
  text-align: center;
}
aside.left-sidebar {
  position: sticky;
  top: 140px;
}
aside.left-sidebar .dropdown-toggle:after {
  content: '';
  display: none;
}
aside.left-sidebar .dropdown-toggle .drop-arrow {
  width: 15px;
  height: 15px;
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-weight: 600;
  color: #000;
  margin: 45px 0 12px;
}
article h2 {
  font-size: 28px;
}
article h3 {
  font-size: 24px;
}
article h4 {
  font-size: 16px;
}
article p {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}
article p {
  margin-bottom: 15px;
}
article figure {
  margin: 30px 0;
}
main .social-links {
  margin-top: 40px;
}
main .social-links .social-link a {
  border: 1px solid #E6E9F2;
  background-color: #fff;
}
main .social-links .social-link a:hover {
  background-color: #2CA5E0;
  border-color: transparent;
}
main .social-links svg path {
  fill: #97A5B5;
}
.card-links {
  flex-flow: row wrap;
}
@media (max-width: 1199px) {
  .card-links > div:nth-child(1n+2) .card {
    border-top: 0;
  }
}
@media (min-width: 1200px) {
  .card-links > div:nth-child(1n+3) {
    margin-top: 22px;
  }
}
.card-links .card {
  flex-direction: row;
  padding: 24px;
  height: 100%;
  border-radius: 0;
}
@media (min-width: 1200px) {
  .card-links .card {
    border-radius: 4px;
  }
}
.card-links .card figure {
  min-width: 56px;
  margin: auto 24px auto 0;
  border-radius: 50%;
  overflow: hidden;
  width: 56px;
  height: 56px;
}
.card-links .card figure img {
  max-width: 100%;
}
.card-links .card .title {
  font-size: 13px;
  color: #97A3B0;
  margin-bottom: 5px;
}
.card-links .card p {
  font-size: 15px;
  color: #333;
  font-weight: 700;
  transition: all ease 300ms;
}
.card-links .card:hover {
  box-shadow: 0px 5px 20px rgba(64, 72, 98, 0.1);
  border-color: #fff;
  background: #fff;
}
.card-links .card:hover p {
  color: #3761E9;
}
main.page {
  margin-top: 50px;
}
.page-title {
  margin-bottom: 50px;
  font-size: 30px;
}
@media (min-width: 550px) {
  .page-title {
    font-size: 40px;
    margin-bottom: 100px;
  }
}
.left-sidebar-nav ul.nav {
  display: none;
}
@media (min-width: 768px) {
  .left-sidebar-nav ul.nav {
    display: block;
  }
}
.left-sidebar-nav ul {
  border: 1px solid #E6E9F2;
  border-radius: 3px;
}
.left-sidebar-nav li.active a {
  font-weight: 700;
}
.left-sidebar-nav .dropdown-toggle {
  white-space: normal;
}
.left-sidebar-nav a {
  width: 100%;
  border-bottom: 1px solid #E6E9F2;
  display: block;
  padding: 20px 20px;
  font-size: 16px;
  color: #333;
}
.left-sidebar-nav a.active {
  font-weight: 700;
  background-color: #F8F9FD;
}
.left-sidebar-nav a:hover {
  color: #3761E9;
}
.left-sidebar-nav a + .dropdown-menu {
  display: none;
  position: static;
  box-shadow: none;
  border: inherit;
  float: none;
}
.left-sidebar-nav a.active + .dropdown-menu {
  display: block;
  background-color: #F8F9FD;
}
.left-sidebar-nav a.active + .dropdown-menu .dropdown-menu {
  display: block;
  background-color: #F8F9FD;
}
.info-box {
  background-color: #F8F9FD;
  padding: 40px;
  margin: 30px 0;
}
.info-box .title {
  margin: 0 0 20px;
}
.pagination-arrows {
  margin-top: 50px;
}
.pagination-arrows a {
  color: #3761E9;
  font-size: 14px;
}
.pagination-arrows a:hover {
  color: #444;
}
.useful-articles {
  border-top: 1px solid #E6E9F2;
  margin: 100px 0 0;
  padding: 80px 0 0;
}
.useful-articles .title {
  margin-bottom: 40px;
}
.useful-articles figure {
  margin: 0;
}
.useful-articles article .title {
  margin-top: 3px;
  transition: color ease 300ms;
}
.useful-articles article a,
.useful-articles article .title {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
.useful-articles article a:hover .title {
  color: #3761E9;
}
.article-info {
  font-size: 13px;
  color: #97A3B0;
  margin-top: 15px;
}
section.newsletter {
  margin-top: 100px;
  padding: 80px 0 100px;
  border-top: 1px solid #E6E9F2;
  text-align: center;
  background-color: #F8F9FD;
}
section.newsletter .title {
  font-weight: 600;
  font-size: 34px;
  color: #333;
  margin-bottom: 25px;
}
section.newsletter .sub-title {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}
.newsletter-form {
  max-width: 586px;
  margin: 0 auto;
}
.icon-note {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADASURBVHgB5ZSxCsJAEERnjqtEP8hWbSPaWIi2gh8kgqWChVVQS63zQUrKrLuigpAIiYcEfNVxsHM7e3dDKIt1HHnHjggaKAGJNJMsmU+HOy43+xEhXXyBkAdPShsCjAc9tJqlGsLlmmIbn2CNODzslBV5q1ENh0AEE/J5m+bb/Odhdmyev+0o78RKQn9mrcjSk/pZq98XcZoB96kWvZtPvGpUw6vSOYNEdlNVEWFCW6w0JUUDrkrUUhuZTfpHhOIGr6tKl8d3iFUAAAAASUVORK5CYII=') no-repeat center left;
  padding-left: 33px;
}
.btn-mobile-sidebar-toggler {
  border: 1px solid #E6E9F2;
  border-radius: 3px;
  background: #fff;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 0;
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  .btn-mobile-sidebar-toggler {
    display: none;
  }
}
.lazy-img {
  position: relative;
  min-height: 200px;
}
.lazy-img:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: url('/images/default-image.svg') center center no-repeat #F1F5FD;
}
.lazy-img img {
  display: none;
}
/*# sourceMappingURL=app.css.map */