@import url('../fonts/Gilroy/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('./typography');

@colorPurple: #1C1569;
@colorLight: #fff;
@colorDarkText: #333;
@colorGray: #92929E;

.fontMonserat {
  font-family: 'Montserrat', Arial, sans-serif;
}

.fontGilroy {
  font-family: 'Gilroy', Arial, sans-serif;
}

.color-white {
  color: @colorLight;
}

a.color-white:hover {
  color: @colorGray;
}

hr {
  border: 1px solid white;
  opacity: .1;
}

.modal {
  color: #333;
}

.bg-purple {
  background-color: @colorPurple;
  color: @colorLight;

  a, h1 {
    color: @colorLight;
  }

  .bg-white {
    a, h1 {
      color: @colorDarkText;
    }
  }
}

body {
  .fontMonserat;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  min-width: 320px;
}

.defaultTransition {
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
}

a {
  color: @colorDarkText;
  font-weight: normal;
  .defaultTransition;

  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.menu-list-title a {
  @media (max-width: 767px) {
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 18px 0;
  }
}

.menu-wrapper .col:last-child .menu-list-title a {
  @media (max-width: 767px) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

header {
  padding: 24px 0 18px;
  position: sticky;
  top: 0;
  z-index: 3;
  .defaultTransition;

  &.bg-white {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #cacaca;
  }

  @media (max-width: 767px) {
    padding: 6px 0;
  }
}

.footer {
  background: #26263E;
  padding: 50px 0 30px;
  color: @colorGray;
  font-size: 13px;
  line-height: 16px;

  a {
    color: @colorGray;

    &:hover {
      color: @colorLight;
    }
  }

  .social-links {
    justify-content: center;
  }
  .social-links a {
    background-color: #515165;
    border: none;

    svg path {
      fill: #A8A8B2;
    }
  }
}

.footer-menu {
  display: flex;

  ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    display: none;
    @media(min-width: 992px) {
      display: block !important;
    }
  }

  .title-link {
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;

    &:hover {
      color: #CBCBCE;
    }

    &.dropdown-toggle:after {
      display: inline-block;
      margin: 6px 15px;
      vertical-align: .255em;
      content: "";
      float: right;
      border-top: .2em solid;
      border-right: .2em solid transparent;
      border-bottom: 0;
      border-left: .2em solid transparent;
      @media(min-width:992px) {
        display: none;
      }
    }

    @media(max-width: 991px) {
      display: block;
      border-top: 1px solid rgba(255,255,255,.1);
      padding: 18px 0;
      margin: 0;
    }
  }
}

.navbar a.logo {
  min-height: 43px;
  padding: 0;
  color: @colorDarkText;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
  .defaultTransition;
  .fontGilroy;

  .bg-purple & {
    color: @colorLight;
  }

  .bg-white & {
    color: @colorDarkText;
  }

  @media (max-width: 767px) {
    padding: 4px 0;
  }

  span {
    display: inline-block;
    margin: 0;
    padding: 4px 0 0 5px;
  }

  img {
    display: inline-block;
    vertical-align: baseline;
    .defaultTransition;
  }
}

.navbar-toggler-icon {
  .bg-purple & {
    &:after, &:before {
      background-color: @colorLight;
    }
  }

  .bg-purple .bg-white & {
    &:after, &:before {
      background-color: #000;
    }
  }
}

.navbar {
  @media (max-width: 767px) {
    padding: 0;
    position: relative;
  }
  @media (min-width: 992px) {
    .nav > .nav-item a {
      font-size: 14px;
    }
  }

  .dropdown-menu {
    margin-left: -1px;
    a {
      padding: 13px 20px;
      border-bottom: 1px solid #EDF0F7;
      min-width: 250px;
      color: @colorDarkText;
    }
  }

  @media (min-width: 1200px) {
    ul:first-child > li + li {
      margin-left: 25px;
    }
  }

  .nav-item.dropdown:hover {
    &>.dropdown-menu {
      display: block;
    }
  }

  .nav-link.dropdown-toggle:after {
    border-width: 0.2em;
    border-bottom-width: 0;
    border-left-width: 0.1em;
  }

  a {
    font-weight: lighter;
    font-size: 15px;
  }

  @media (max-width: 767px) {
    ul.dropdown-menu {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.navbar-toggler {
  position: absolute;
  height: 30px;
  top: 5px;
  left: 0;
  outline: none;
}

.navbar-toggler-icon {
  position: relative;
  height: 7px;

  &:before,
  &:after {
    content: '';
    display: block;
    height: 2px;
    background: #000;
    border-radius: 20px;
  }

  &:before {
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    width: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.unified-platform {
  margin-bottom: 74px;
  font-size: 18px;
  overflow: hidden;

  @media (min-width: 1200px) {
    margin-bottom: 74px;
    padding-bottom: 120px;
  }

  @media (min-width: 992px) {
    padding-bottom: 40px;
  }

  @media (max-width: 400px) {
    font-size: 14px;
  }

  .content {
    @media(min-width: 992px) {
      padding-top: 92px;
    }
    @media(min-width: 1200px) {
      padding-top: 92px;
    }
  }

  .title {
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 26px;

    @media (min-width: 1200px) {
      font-size: 40px;
      line-height: 52px;
    }

    @media (min-width: 992px) {
      font-size: 34px;
      line-height: 47px;
    }

    @media (max-width: 570px) {
      font-size: 32px;
      line-height: 39px;
    }

    @media (max-width: 400px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .description {
    font-size: 16px;
    margin-bottom: 31px;
  }

  .image {
    position: relative;

    figure {
      width: 695px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

form {
  .fontMonserat;
}

input[type="email"],
input[type="text"] {
  &::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.btn-rounded {
  border-radius: 30px;
}

.form-get-release {
  max-width: 474px;

  input {
    height: 54px;

    @media (max-width: 991px) {
      width: 100%;
      border-radius: .25rem;
    }
  }

  .input-group-append {
    @media (max-width: 991px) {
      width: 100%;
      border-radius: .25rem;
      margin: 15px 0 0;
      font-size: 16px;
    }
  }

  .input-group > .input-group-append > .btn {
    @media (max-width: 991px) {
      border-radius: 50px;
      display: block;
      width: 100%;
      padding: 14px 0;
      font-size: 16px;
    }
  }

  .btn {
    background-color: #3761E9;
    border-color: #3761E9;
    font-size: 19px;

    &:hover {
      background-color: blue;
      border-color: blue;
    }
  }
}

.feature-list {
  margin-bottom: 90px;
}

.feature-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  border-radius: 0;
  background-color: #fff;
  border: 1px solid #E1E5F0;
  height: 122px;
  max-width: 520px;
  margin: 0 auto 0;
  .defaultTransition;


  .item-content {
    padding: 30px 0 7px 30px;
  }

  .title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
  }

  .icon {
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .description {
    font-size: 13px;
    color: #555;
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    background: #007bff;

    &, .description, .title {
      color: #fff;
    }
  }

  @media (min-width: 768px) {
    border-radius: 6px;
    margin-bottom: 30px;
    border: none;
  }
}


.header-button-right {
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1rem;
  overflow: hidden;
  //transition: border-color ease-in-out .3s .3s, background-color ease-in-out .3s .3s, width ease-in-out .3s, text-indent linear .1s .3s, color ease-in-out .3s .3s;

  &.btn-light {
    color: #3761E9;
  }

  & > .btn-primary {
    color: #333;
  }

  @media (min-width: 992px) {
    font-size: .7rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }

  &.modal-opened {
    width: 46px;
    position: relative;
    z-index: 1051;
    color: transparent;
    text-indent: -99999px;
    transition: width ease-in-out .3s, text-indent linear .1s .3s;

    & > span {
      visibility: visible;
      display: block;
    }
  }

  & > span {
    font-size: 34px;
    line-height: 17px;
    position: absolute;
    display: none;
    visibility: hidden;
    .defaultTransition;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #3a3a3a !important;
    padding: 10px;
    text-indent: 0;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.social-links {
  display: flex;

  a {
    display: flex;
    margin-right: 8px;
    width: 39px;
    height: 39px;
    background-color: #fff;
    border: 1px solid #E6E9F2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    .defaultTransition;

    svg path {
      fill: #97A5B5;
      .defaultTransition;
    }

    &:hover {
      background-color: #2CA5E0;

      svg path {
        fill: #fff;
      }
    }
  }
}




.menu-wrapper {
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  background: #fff;
  width: 90%;
  z-index: 5;
  height: 100vh;
  overflow-x: hidden;
  .defaultTransition;

  .site-logo-title {
    color: #333;
  }

  ul a {
    font-size: 17px;
    letter-spacing: -0.5px;
    padding: .6rem 1rem;
    white-space: normal;
  }

  &.show {
    left: 0;
  }

  button.close {
    padding: 5px 14px;
    position: absolute;
    top: 12px;
    right: 12px;
    outline: none;
    font-weight: 400;
    font-size: 36px;

    &:focus {
      outline: none;
    }
  }

  a {
    color: #333;
  }

  .dropdown-toggle::after {
    display: inline-block;
    vertical-align: baseline;
    border-top: 0.2em solid transparent;
    border-right: 0;
    border-bottom: 0.2em solid transparent;
    border-left: 0.2em solid;
    float: right;
    margin-top: 8px;
  }

  .logo {
    color: #333;
    font-weight: 700;
    margin: 11px 0 22px;
    display: inline-block;
  }

  .logo-wrapper {
    text-align: left;
  }

  & + .app-header .navbar-collapse {
    display: none;
  }
}

.mobile-nav-popover {
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.show {
    display: block;
  }
}

.menu-back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  color: #97A3B0;
  font-size: 40px;
  padding: 0;
  width: 45px;
  height: 45px;
  outline: none;
}

.mobile-nav-menu {
  position: relative;

  .dropdown {
    position: static;
  }

  ul.dropdown-menu {
    border: none;
    left: 100%;
    background: none;
  }

  ul.dropdown-menu, .navbar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all cubic-bezier(0.74, -0.01, 0.88, 0.5) 200ms;
    box-shadow: none;

    &:not(.navbar-nav) {
      display: none;
    }
  }

  ul.navbar-nav {
    left: 0;
    padding: 0 15px;
  }
}

blockquote {
  font-size: 18px;
  border-left: 3px solid #3761E9;
  padding-left: 38px;
  margin: 30px 0;
}

@import 'page';