h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 30px 0 15px;
  color: #000;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.4rem;
}

blockquote {
  font-size: 18px;
  padding-left: 38px;
  border-left: 3px solid #3761E9;
  margin-left: 0;
}

b {
  font-weight: 600;
}

ul, ol {
  line-height: 28px;
  padding-left: 20px;
}

ul {
  list-style-image: url("/images/list-image.svg");
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color:#3761E9;
  }
}